<!DOCTYPE html>
<html>
  <head>
  
    <script src='/static/index.global.min.js'></script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events:'/eventoscalendario',
          eventContent: function(arg) {
            return {
                html: `
                    <div>${arg.event.title}</div>
                    <ul>
                        ${arg.event.extendedProps.tareas.map(tarea => `
                            <li>${tarea.tarea}</li>
                        `).join('')}
                    </ul>
                `
            };
        }
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>