{% extends 'barra_nav_admin.html'  %}

    {% block content %}

<script>

  function ventanaemergente(){

    alert("Fecha-FIN mayor a Fecha-INICIO");

  }

  window.onload=function(){

    {% if mensaje  %}

      ventanaemergente();

    {% endif %}

  };

</script>

<div class="agrupar">
  <div class="despliegue">

    <h3>Gestion de capacitaciones</h3>

  </div>

  <div class="cont-menu">

    <ul class="menu">
      <li ><a href="#">Crear capacitacion</a>
        <ul>
          <li><a href="#" onclick="mostrarFormulario('crear')">Crear capacitacion</a></li>
        </ul>
      </li>
      <li ><a href="#">Visualizar </a>
        <ul>
          <li><a href="#" onclick="mostrarFormulario('visualizar')">Visualizar </a></li>
          <li><a href="/#" >Estadisticas</a> <!-- ESTADISTICAS POR TRABAJADOR, VISTAS POR ADMINISTRADOR  -->
          <li><a href="/cal" >Calendario</a>
        </ul>
      </li>
      <li ><a href="#">Editar</a>      
        <ul>
          <li><a href="#" onclick="mostrarFormulario('editar')">Editar </a></li>  
          <li><a href="#" onclick="mostrarFormulario('agregar')">Agregar trabajador </a></li> <!-- AGREGAR TRABAJADOR A ALGUN CURSO EN ESPECIFICO  -->
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="container">

<div id="crear" class="formularios">
    
  <div class="ordenar">
    <h2>Formulario para Crear Capacitacion</h2>

  <form id="equipoForm" action="/crear" method="post" enctype="multipart/form-data">

    <div class="ajustar">
    <label for="nombrecurso">Titulo del curso</label>
    <input type="text" id="nombrecurso" name="nombrecurso" required>

    <label for="mombreponente">Ponente del curso</label>
    <input type="text" id="nombreponente" name="nombreponente" min="0" required>

    </div>

    <div class="linea">

    <label for="fecha_inicio">Fecha de inicio</label>
    <input type="date" id="fechainicio" name="fechainicio" required>

    <label for="fecha_fin">Fecha de Fin</label>
    <input type="date" id="fechafin" name="fechafin"  required>

    <div class="botones">

    <label for="minparticipantes">Minimo de participantes</label>
    <input class="min" type="number" id="minparticipantes" name="minparticipantes" required>

    <label for="maxparticipantes">Maximo de Participantes</label>
    <input class="max" type="number" id="maxparticipantes" name="maxparticipantes" required>

    </div>

    </div>

    <div class="ajustar">

    <label for="localidad">Localidad del curso</label>
    <input type="text" id="localidad" name="localidad" required>

    <label for="salon">Salon/Edificio</label>
    <input type="text" id="salon" name="salon" min="0" required>

    </div>

    <label for="descripcion">Descripcion del Curso</label>
    <textarea name="descripcion" cols="70" rows="8"></textarea>

    <label for="documento">Ingrese Guia/Documentos/Apuntes</label>
    <input class="documento" type="file" id="documento" name="documento">

    <button class="boton" type="submit">Enviar</button>
    </div>

  </form>
</div>

<div id="editar" class="formularios">

  <h2>Formulario para Editar Curso</h2>
  <div class="listado">
    <table>
        <thead>
            <tr>
              <th>ID</th>
              <th>Tema</th>
              <th>Ponente</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Fin</th>
              <th>Minimo de Participantes</th>
              <th>Maximo de participantes</th>
              <th>Accion</th>
            </tr>
        </thead>
        <tbody>
          {% for id,tema,ponente,inicio,fin,min,max,descripcion,localidad,salon,estado in cursos %}
            <tr>
              <td>{{id}}</td>
              <td>{{tema}}</td>
              <td>{{ponente}}</td>
              <td>{{inicio}}</td>
              <td>{{fin}}</td>
              <td>{{min}}</td>
              <td>{{max}}</td>
              <td>
                <form action="{{ url_for('editarid', id=id) }}" method="get" style="display:inline;">
                  <button type="submit">Editar</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  
 

  </div>

   {% if datos   %}    
  
  <div class="ordenar">
  
  <form id="editarform" action="/editar" method="post">

    <label for="estatus">Status</label>
    <select id="status" name="status">
      <option value="activo">Activo</option>
      <option value="finalizado">Finalizado</option>
      <option value="progreso">En Progreso</option>
    </select>
  
    <label for="idformacion">ID de la formación</label>
    <input class="botonid" type="number" id="idformacion" value={{datos[0]}} name="idformacion" min="0"  required>
  
    <div class="ajustar">

    <label for="nombrecurso">Titulo del curso</label>
    <input type="text" id="nombrecurso" value={{datos[1]}} name="nombrecurso" min="0" required>
  
    <label for="mombreponente">Ponente del curso</label>
    <input type="text" id="nombreponente" value={{datos[2]}} name="nombreponente" min="0" >
    </div>

    <label for="fecha_inicio">Fecha de inicio</label>
    <input type="date" id="fechainicio" value={{datos[3]}} name="fechainicio" required>

    <label for="fecha_fin">Fecha de Fin</label>
    <input type="date" id="fechafin" value={{datos[4]}}  name="fechafin"  required>

    <div class="botones">

    <label for="minparticipantes">Minimo de participantes</label>
    <input class="min" type="number" value={{datos[5]}} id="minparticipantes" name="minparticipantes" required>

    <label for="maxparticipantes">Maximo de Participantes</label>
    <input class="max" type="number" value={{datos[6]}} id="maxparticipantes" name="maxparticipantes" required>

    </div>

    <div class="ajustar">

      <label for="localidad">Localidad del curso</label>
      <input type="text" id="localidad" name="localidad" required>
  
      <label for="salon">Salon/Edificio</label>
      <input type="text" id="salon" name="salon" min="0" required>
  
    </div>

    <label for="descripcion">Descripcion del Curso</label>
    <textarea name="descripcion"  cols="70" rows="8"> {{datos[7]}}</textarea>

    <label for="documento">Ingrese Guia/Documentos/Apuntes</label>
    <input class="documento" type="file" id="documento" name="documento" >

    <div><button class="boton" type="submit">Editar</button></div>
  
  </form>

  </div>

  {% endif %}

</div>

<div id="visualizar" class="formularios">

  <div class="filtros">

  <label for="desde">Desde</label> 
  <input type="date" id="desde" name="desde" onchange="filterCourses()" >

  <label for="hasta">Hasta</label> 
  <input type="date" id="hasta" name="hasta" onchange="filterCourses()" >

  <label for="status">Filtrar</label> 
  <select id="status" onchange="filterCourses()"  >


    <option value="activo">Activos</option>
    <option value="finalizado">Finalizados</option>
    <option value="progreso">En Progreso</option>
  </select>

  </div>

  <div class="listado"> 
    <table> 
      <thead> 
        <tr> 
          <th>ID</th> 
          <th>Tema</th> 
          <th>Ponente</th> 
          <th>Fecha de Inicio</th> 
          <th>Fecha de Fin</th> 
          <th>Minimo de Participantes</th> 
          <th>Maximo de Participantes</th> 
          <th>Acción</th>
          <th>Editar</th> 
        </tr> </thead> 
        <tbody id="course-list"> {% for id, tema, ponente, inicio, fin, min, max, 
          descripcion, localidad, salon, estado in listado %} 
          <tr> 
            <td>{{ id }}</td> 
            <td>{{ tema }}</td> 
            <td>{{ ponente }}</td> 
            <td>{{ inicio }}</td> 
            <td>{{ fin }}</td> 
            <td>{{ min }}</td> 
            <td>{{ max }}</td> 
            <td>{{ estado }}</td>
          </tr> {% endfor %} 
        </tbody> 
      </table> 
    </div>

  <script> 
  function filterCourses() { 
  const status = document.getElementById('status').value;
  const desde = document.getElementById('desde').value; 
  const hasta = document.getElementById('hasta').value; 

  const xhr = new XMLHttpRequest(); 
  xhr.open('POST', '/visualizarpor', true); 
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
  
  xhr.onload = function() { if (this.status === 200) { 
    document.getElementById('course-list').innerHTML = this.responseText; } };
  
  xhr.send('status=' + status + '&desde=' + desde + '&hasta=' + hasta ); } 
  </script>
 
</div>

<div id="agregar" class="formularios">

  <div class="filtrosagregar">

  <h2>Inscripción</h2>

  <form id="agregar" action="/agregartrabajador" method="post">

<div class="inputsagregar">
<label for="id">ID del trabajador</label>
<input type="number" id="id" name="id" class="idagregar">
<label for="id">ID del curso</label>
<input type="number" id="idcurso" name="idcurso" class="idagregar">
<button class="boton" type="submit">Inscribir</button>
</div>
</form>
<label for="status">Filtrar</label> 
<select id="statuss" onchange="filterCoursess()"  >

    <option value="activo">Activos</option>
    <option value="progreso">En Progreso</option>
</select>

</div>

<div class="listado"> 
  <table> 
    <thead> 
      <tr> 
        <th>ID</th> 
        <th>Tema</th> 
        <th>Ponente</th> 
        <th>Fecha de Inicio</th> 
        <th>Fecha de Fin</th> 
        <th>Minimo de Participantes</th> 
        <th>Maximo de Participantes</th> 
        <th>Acción</th>
      </tr> </thead> 
      <tbody id="course-listt"> {% for id, tema, ponente, inicio, fin, min, max, 
        descripcion, localidad, salon, estado in listado %} 
        <tr> 
          <td>{{ id }}</td> 
          <td>{{ tema }}</td> 
          <td>{{ ponente }}</td> 
          <td>{{ inicio }}</td> 
          <td>{{ fin }}</td> 
          <td>{{ min }}</td> 
          <td>{{ max }}</td> 
          <td>{{ estado }}</td>
        </tr> {% endfor %} 
      </tbody> 
    </table> 
  </div>

  <script> 
    function filterCoursess() { 
    const status = document.getElementById('statuss').value;

    const xhr = new XMLHttpRequest(); 
    xhr.open('POST', '/agregar', true); 
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
    
    xhr.onload = function() { if (this.status === 200) { 
      document.getElementById('course-listt').innerHTML = this.responseText; } };
    
    xhr.send('statuss=' + status); } 
    </script>

</div>  

</div>

    {% endblock %}
